template container Panel(UI/Green)
{
	metrics_mode pixels
	material UI/Green
	horz_align center
	width 256
	height 32
}

template container Panel(UI/Yellow)
{
	metrics_mode pixels
	transparent true
	material UI/Yellow
	horz_align center
	width 256
	height 32
}

template container Panel(UI/HUDText)
{
	metrics_mode pixels
	transparent true

	material UI/Transparent	

	element TextArea(HUDCaption)
	{
        metrics_mode pixels
        horz_align center
        alignment center
        top 10
        font_name UI/Caption
        char_height 25
        space_width 10
        colour 1 1 1
	}
}