template container BorderPanel(UI/Tray)
{
	metrics_mode pixels
	material UI/Transparent
	uv_coords 0.25 0.25 0.75 0.75
	
	border_material UI/Transparent
	border_size 16 16 16 16
	border_topleft_uv     0.00 0.00 0.25 0.25
	border_top_uv         0.25 0.00 0.75 0.25
	border_topright_uv    0.75 0.00 1.00 0.25
	border_left_uv        0.00 0.25 0.25 0.75
	border_right_uv       0.75 0.25 1.00 0.75
	border_bottomleft_uv  0.00 0.75 0.25 1.00
	border_bottom_uv      0.25 0.75 0.75 1.00
	border_bottomright_uv 0.75 0.75 1.00 1.00
}

template container BorderPanel(UI/PlayerHealthBar)
{
	metrics_mode pixels
	material UI/BarBackground
	uv_coords 0.25 0.25 0.75 0.75
	horz_align center
	height 32
	
	border_material UI/BarBackground
	border_size 5 5 5 5
	border_topleft_uv     0.00 0.00 0.25 0.25
	border_top_uv         0.25 0.00 0.75 0.25
	border_topright_uv    0.75 0.00 1.00 0.25
	border_left_uv        0.00 0.25 0.25 0.75
	border_right_uv       0.75 0.25 1.00 0.75
	border_bottomleft_uv  0.00 0.75 0.25 1.00
	border_bottom_uv      0.25 0.75 0.75 1.00
	border_bottomright_uv 0.75 0.75 1.00 1.00
	
	element BorderPanel(PlayerBar)
	{
		metrics_mode pixels
		material UI/PlayerHealthBar
		uv_coords 0.25 0.25 0.75 0.75
		horz_align left
		height 32
		
		border_material UI/PlayerHealthBar
		border_size 5 5 5 5
		border_topleft_uv     0.00 0.00 0.25 0.25
		border_top_uv         0.25 0.00 0.75 0.25
		border_topright_uv    0.75 0.00 1.00 0.25
		border_left_uv        0.00 0.25 0.25 0.75
		border_right_uv       0.75 0.25 1.00 0.75
		border_bottomleft_uv  0.00 0.75 0.25 1.00
		border_bottom_uv      0.25 0.75 0.75 1.00
		border_bottomright_uv 0.75 0.75 1.00 1.00
		
		element TextArea(PlayerValueText)
		{
			metrics_mode pixels
			left 11
			top 10
			font_name UI/Value
			char_height 19
			space_width 8
			colour 0 0 0
		}
	}
}

template container BorderPanel(UI/EnemyHealthBar)
{
	metrics_mode pixels
	material UI/BarBackground
	uv_coords 0.25 0.25 0.75 0.75
	horz_align center
	height 32
	
	border_material UI/BarBackground
	border_size 5 5 5 5
	border_topleft_uv     0.00 0.00 0.25 0.25
	border_top_uv         0.25 0.00 0.75 0.25
	border_topright_uv    0.75 0.00 1.00 0.25
	border_left_uv        0.00 0.25 0.25 0.75
	border_right_uv       0.75 0.25 1.00 0.75
	border_bottomleft_uv  0.00 0.75 0.25 1.00
	border_bottom_uv      0.25 0.75 0.75 1.00
	border_bottomright_uv 0.75 0.75 1.00 1.00
	
	element BorderPanel(EnemyBar)
	{
		metrics_mode pixels
		material UI/EnemyHealthBar
		uv_coords 0.25 0.25 0.75 0.75
		horz_align left
		height 32
		
		border_material UI/EnemyHealthBar
		border_size 5 5 5 5
		border_topleft_uv     0.00 0.00 0.25 0.25
		border_top_uv         0.25 0.00 0.75 0.25
		border_topright_uv    0.75 0.00 1.00 0.25
		border_left_uv        0.00 0.25 0.25 0.75
		border_right_uv       0.75 0.25 1.00 0.75
		border_bottomleft_uv  0.00 0.75 0.25 1.00
		border_bottom_uv      0.25 0.75 0.75 1.00
		border_bottomright_uv 0.75 0.75 1.00 1.00
		
		element TextArea(EnemyValueText)
		{
			metrics_mode pixels
			left 11
			top 10
			font_name UI/Value
			char_height 19
			space_width 8
			colour 0 0 0
		}
	}
}

template container BorderPanel(UI/MiniMap)
{
	metrics_mode pixels
	material UI/MiniMap
	uv_coords 0.25 0.25 0.75 0.75
	horz_align center
	height 32
	
	border_material UI/MiniMap
	border_size 5 5 5 5
	border_topleft_uv     0.00 0.00 0.25 0.25
	border_top_uv         0.25 0.00 0.75 0.25
	border_topright_uv    0.75 0.00 1.00 0.25
	border_left_uv        0.00 0.25 0.25 0.75
	border_right_uv       0.75 0.25 1.00 0.75
	border_bottomleft_uv  0.00 0.75 0.25 1.00
	border_bottom_uv      0.25 0.75 0.75 1.00
	border_bottomright_uv 0.75 0.75 1.00 1.00
	
	element Panel(LocatorSister)
	{
		metrics_mode pixels
		material UI/LocatorSister
		horz_align left
		height 32
		width 24
	}
}

template container Panel(UI/HUDText)
{
	metrics_mode pixels
	transparent true

	element TextArea(HUDCaption)
	{
        metrics_mode pixels
        horz_align center
        alignment center
        top 10
        font_name UI/Caption
        char_height 25
        space_width 10
        colour 1 1 1
	}
}

template container BorderPanel(UI/DialogBox)
{
	metrics_mode pixels
	material UI/TextBox
	horz_align center
	uv_coords 0.4 0.4 0.6 0.6
	
	border_material UI/TextBox
	border_size 13 13 13 13
	border_topleft_uv     0.0 0.0 0.4 0.4
	border_top_uv         0.4 0.0 0.6 0.4
	border_topright_uv    0.6 0.0 1.0 0.4
	border_left_uv        0.0 0.4 0.4 0.6
	border_right_uv       0.6 0.4 1.0 0.6
	border_bottomleft_uv  0.0 0.6 0.4 1.0
	border_bottom_uv      0.4 0.6 0.6 1.0
	border_bottomright_uv 0.6 0.6 1.0 1.0
	
	container BorderPanel(DialogCaptionBar)
	{
		metrics_mode pixels
		material UI/MiniTray
		height 30
		top 2
		left 2
		uv_coords 0.375 0.375 0.625 0.625
		
		border_material UI/MiniTray
		border_size 12 12 12 12
		border_topleft_uv     0.000 0.000 0.375 0.375
		border_top_uv         0.375 0.000 0.625 0.375
		border_topright_uv    0.625 0.000 1.000 0.375
		border_left_uv        0.000 0.375 0.375 0.625
		border_right_uv       0.625 0.375 1.000 0.625
		border_bottomleft_uv  0.000 0.625 0.375 1.000
		border_bottom_uv      0.375 0.625 0.625 1.000
		border_bottomright_uv 0.625 0.625 1.000 1.000

		element TextArea(DialogCaption)
		{
			metrics_mode pixels
			horz_align center
			alignment center
			top 8
			font_name UI/Caption
			char_height 19
			space_width 7
			colour 0 0 0
		}
	}

	element TextArea(DialogText)
	{
        metrics_mode pixels
        font_name UI/Value
		width 300
        top 50
        left 20
        right 20
        char_height 15
        space_width 8
        colour 0 0 0
		
	}
	
	element TextArea(ContinueText)
	{
		metrics_mode pixels
		horz_align center
		alignment center
		vert_align bottom
		bottom 50
		font_name UI/Caption
		char_height 15
		space_width 7
		colour 1 1 1
	}
}